                ul {
						list-style-type: none;
						margin: 0;
						padding: 0;
						overflow: hidden;
						background-color: #333;
					}
					
					li {
						float: left;
					}
					
					li a {
						display: block;
						color: white;
						text-align: center;
						padding: 14px 16px;
						text-decoration: none;
					}
					
					li a:hover:not(.active) {
						background-color: #0000FF;
                    }
                    .radioinput {
                        color: green;
                        background-color: rgb(67, 75, 194);        
                       }
					
					.active {
						background-color:#0000FF;
                    }
                    .button {
                        background-color:blueviolet;
                        border: none;
                        color: white;
                        padding: 10px 28px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                    }

                    p.ex {
                        color:royalblue;
                    }
                    input[type=text], input[type=password] {
                        width: 50%;
                        padding: 5px;
                        margin: 5px 0 22px 0;
                        display: inline-block;
                        border: none;
                        background: #b4adf5;
                      }
                      label.la {
                        cursor: pointer;
                        color: rgb(16, 62, 148);
                        display: block;
                        padding: 1px;
                        margin: 1px;
                    }
                    #panel, #flip 
                    {
                    padding: 5px;
                        text-align: center;
                        background-color: #e5eecc;
                        border: solid 1px #c3c3c3;
                    }

                    #panel {
                        padding: 50px;
                        display: none;
                    }